# Terraform
*.tfstate
*.tfstate.backup
.terraform

# Ansible
*.retry

# Generated Template
generated/*

# Configuration
/config

# Ignore Extra Infras
playbooks/infra/**
!playbooks/infra/management**
!playbooks/infra/_config.yml


playbooks/destroy/infra/**
!playbooks/destroy/infra/_config.yml
!playbooks/destroy/infra/management**

terraform/infra/**
!terraform/infra/management