{
 "fields": [
{% for key, value in database_creds.iteritems() %}
  {
   "id": "database_{{ key }}_password",
   "type": "string",
   "label": "Password for Database user {{ key }}",
   "secret": true,
   "help_text": "",
   "multiline": false
  }
{%- if not loop.last -%}
,
{% endif %}
{% endfor %}
 ],
 "required": [
{% for key, value in database_creds.iteritems() %}
  "database_{{ key }}_password"
{%- if not loop.last -%}
,
{% endif %}
{% endfor %}
 ]
}