{
  "extra_vars": {
{% for key, value in database_creds.iteritems() %}
    "database_users_{{ key }}": "{{ '{{' }} database_{{ key }}_password {{ '}}' }}",
{% endfor %}
    "database_users": "
{%- for key, value in database_creds.iteritems() -%}
{{ key }}
{%- if not loop.last -%}
,
{%- endif -%}
{%- endfor -%}
"
  }
}