{
  "extra_vars": {
{% for key, value in users.iteritems() %}
    "user_{{ key }}": "{{ '{{' }} user_{{ key }}_password {{ '}}' }}",
{% endfor %}
    "users": "
{%- for key, value in users.iteritems() -%}
{{ key }}
{%- if not loop.last -%}
,
{%- endif -%}
{%- endfor -%}
"
  }
}