{
 "fields": [
{% for key, value in users.iteritems() %}
  {
   "id": "user_{{ key }}_password",
   "type": "string",
   "label": "Password for user {{ key }}",
   "secret": true,
   "help_text": "",
   "multiline": false
  }
{%- if not loop.last -%}
,
{% endif %}
{% endfor %}
 ],
 "required": [
{% for key, value in users.iteritems() %}
  "user-{{ key }}_password"
{%- if not loop.last -%}
,
{% endif %}
{% endfor %}
 ]
}