{
  "extra_vars": {
{% for key, value in password.vpn.iteritems() %}
    "vpn_users_{{ key }}": "{{ '{{' }} vpn_{{ key }}_password {{ '}}' }}",
{% endfor %}
    "vpn_users": "
{%- for key, value in password.vpn.iteritems() -%}
{{ key }}
{%- if not loop.last -%}
,
{% endif %}
{% endfor %}
"
  }
}